body {
  background: #F3F9F9;
  margin: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden; }

h1 {
  font-family: 'Muli', sans-serif; }

p {
  font-size: 24px;
  font-family: 'Muli', sans-serif; }

a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-family: 'Muli', sans-serif;
  color: #FFF; }

.video--container.fixed {
  bottom: 0;
  position: fixed; }

.fake {
  height: 200px;
  width: 100%;
  margin: 15px;
  margin-left: 52%;
  background: black; }

.footer {
  background: #CFBEB7;
  bottom: 0;
  overflow: hidden;
  width: 100%; }

.selfie {
  width: 20%;
  float: right;
  margin-right: 1rem; }

.project--professional {
  background: #C5E6EF;
  box-shadow: 0px 15px 40px #ccc;
  margin: 0 auto;
  margin-top: 3rem;
  width: 80%;
  position: relative;
  transition: box-shadow 1s; }
  .project--professional:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s; }

.placeholder {
  height: 14rem; }

.path {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 12%;
  stroke-width: 10px; }

.logo--ryder {
  width: 60%;
  height: 15rem;
  fill: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.logo--hotels {
  width: 50%;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.expander--Ryder {
  display: none; }
  .expander--Ryder:checked ~ .placeholder--Ryder {
    height: 400px; }

.expander--Hotels {
  display: none; }
  .expander--Hotels:checked ~ .placeholder--Hotels {
    height: 400px; }

.expander-toggle {
  background: transparent;
  background-position: center;
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 12%;
  height: 4rem; }
  .expander-toggle:after {
    content: "More Info";
    color: #FFF;
    font-family: 'Playfair Display SC', serif;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../../../grid_overlay.png"); }

.video--container {
  position: relative; }

.video--wrapper, .hero--wrapper {
  background: #CCC;
  float: left;
  padding-top: 66%;
  position: relative;
  width: 100%; }

.video--image, .hero--image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%; }

.video--image img, .hero--image img {
  left: 50%;
  max-width: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.hero--wrapper {
  float: none;
  padding-top: 50%; }

.heading--hero {
  position: absolute;
  color: #E2E2E2;
  top: 3rem;
  left: 3rem;
  z-index: 3; }

.left-selector {
  display: none; }
  .left-selector:checked ~ .left {
    background: #F3F9F9;
    width: 100%;
    transition: background 1s 1s; }
  .left-selector:checked ~ .heading--home--left {
    opacity: 0;
    position: absolute;
    transform: scale(0.5);
    z-index: 1;
    top: 0rem;
    right: -1rem;
    transition: transform 1s, top 1s, right 1s, opacity 0.5s 0.5s; }
  .left-selector:checked ~ .right-toggle {
    width: 0px; }
  .left-selector:checked ~ .left-toggle {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    left: auto;
    opacity: 1;
    right: 1rem;
    top: 0rem;
    transition: opacity 0.4s 1s; }

.right-selector {
  display: none; }
  .right-selector:checked ~ .right {
    background: #F3F9F9;
    width: 100%;
    transition: background 1s 1s; }
  .right-selector:checked ~ .heading--home--right {
    opacity: 0;
    position: absolute;
    transform: scale(0.5);
    z-index: 1;
    top: 0rem;
    right: -1rem;
    transition: transform 1s, top 1s, right 1s, opacity 0.5s 0.5s; }
  .right-selector:checked ~ .right-toggle {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    left: auto;
    opacity: 1;
    right: 1rem;
    top: 0rem;
    transition: opacity 0.4s 1s; }

.left-toggle {
  background: #2E4E74;
  background-position: center;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  z-index: 7;
  opacity: 0;
  height: 5rem;
  width: 100%;
  top: 4rem; }

.right-toggle {
  background: #2E4E74;
  background-position: center;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  z-index: 7;
  opacity: 0;
  height: 5rem;
  width: 100%;
  top: 9rem; }

.left {
  width: 0;
  background: #FFF;
  background-size: cover;
  padding-top: 4rem;
  position: absolute;
  top: 0;
  transition: background 1s 1s; }

.right {
  width: 0;
  background: #FFF;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: background 1s 1s; }

.height {
  height: 3000px; }

.content--contact.fixedForVideo {
  position: fixed;
  bottom: 395px; }

@media screen and (min-width: 736px) {
  .section {
    position: relative; }

  .section--heading {
    color: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 0;
    overflow: hidden; }
    .section--heading:before {
      content: attr(data-text);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #FFF;
      z-index: 2; }

  .section.fixed .section--heading {
    position: fixed; }
    .section.fixed .section--heading:after {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 4%;
      height: 4%;
      background: #1D2B64;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #1D2B64, #F8CDDA);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #1D2B64, #F8CDDA);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      opacity: 0.4;
      border-radius: 50%;
      animation: ripple 2s forwards; }

  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.4; }
    50% {
      transform: scale(90);
      opacity: 0.6; }
    100% {
      transform: scale(90);
      opacity: 0.6; } }
  .about.fixed .heading--about:after {
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1A2980, #26D0CE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1A2980, #26D0CE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

  .contact.fixed .heading--contact:after {
    background: #4CA1AF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF, #C4E0E5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4CA1AF, #C4E0E5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

  .section.fixedForVideo .section--heading {
    position: fixed;
    bottom: 395; }

  .section.absolute--bottom .section--heading {
    bottom: 0;
    top: auto; }

  .heading--work {
    background: #585357; }

  .heading--about {
    background: #4f4a4e;
    right: 0; }

  .heading--contact {
    background: #464245; }

  .content--about {
    padding: 2rem;
    width: 40%; }

  .content--contact {
    padding: 30rem 0;
    padding-left: 55%; }

  .link--contact {
    padding-top: 1.5rem; }
    .link--contact i {
      padding-right: 1rem; } }

/*# sourceMappingURL=styles.css.map */
