@mixin mq($media-query) {
  @media ($media-query) { @content; }
}

$breakpoint-xs: 25em; // *16 = 400
$breakpoint-s: 34em; // *16 = 544
$breakpoint-m: 46em; // *16 = 736
$breakpoint-l: 62em; // *16 = 992
$breakpoint-xl: 93em; // *16 = 1448

$XS: 'min-width:'+ (strip-units($breakpoint-xs) +em);
$S: 'min-width:'+ (strip-units($breakpoint-s) +em);
$M: 'min-width:'+ (strip-units($breakpoint-m) +em);
$L: 'min-width:'+ (strip-units($breakpoint-l) +em);
$XL:'min-width:'+ (strip-units($breakpoint-xl)+em);

body {
  background: #F3F9F9;
  margin: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
}

.image--hero {
  img {
   width: 100%; 
  }
}

.heading--hero {
  font-family: 'Playfair Display SC', serif;
  color: #99BDDD;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  right: 45%;
  top: 25%;

  span {
    display: block;
  }

  @media (min-width: $breakpoint-m) {
    top: 25%;
  }
}

.section {
  background: #BBABCF;
  width: 50%;
  height: 25rem;
  margin-top: -4px;
  position: relative;
}

.heading--section {
  @extend .heading--hero;

  color: #F3F9F9;
  top: 50%;
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work {
  &.fixed {
    position: fixed;
    top: 0;
  }
}

.about {
  background: #C5E6EF;
  margin-left: 50%;

  &.fixed {
    position: fixed;
    top: 0;
  }
}

.about--text {
  width: 50%
}

.heading--about {
  color: #2E4E74;
}

.contact {
  background: #99BDDD;

  &.fixed {
    position: fixed;
    top: 0;
  }
}

.heading--contact {
  color: #F3F9F9;
}

.heading--home--left {
  position: absolute;
  opacity: 1;
  top: 3rem;
  right: 50%;
  transform: translateX(50%);

}

.heading--home--right {
  position: absolute;
  opacity: 1;
  right: 50%;
  transform: translateX(50%);
  top: 8rem;

}
