@mixin mq($media-query) {
  @media ($media-query) { @content; }
}

$breakpoint-xs: 25em; // *16 = 400
$breakpoint-s: 34em; // *16 = 544
$breakpoint-m: 46em; // *16 = 736
$breakpoint-l: 62em; // *16 = 992
$breakpoint-xl: 93em; // *16 = 1448

$XS: 'min-width:'+ (strip-units($breakpoint-xs) +em);
$S: 'min-width:'+ (strip-units($breakpoint-s) +em);
$M: 'min-width:'+ (strip-units($breakpoint-m) +em);
$L: 'min-width:'+ (strip-units($breakpoint-l) +em);
$XL:'min-width:'+ (strip-units($breakpoint-xl)+em);

body {
  background: #F3F9F9;
  margin: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1 {
  font-family: 'Muli', sans-serif;
}

p {
  font-size: 24px;
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-family: 'Muli', sans-serif;
  color: #FFF;
}

.video--container.fixed {
  bottom: 0;
  position: fixed;
}

.fake {
  height: 200px;
  width: 100%;
  margin: 15px;
  margin-left: 52%;
  background: black;
}

